/node_modules
/src
.editorconfig
.gitignore
.npmrc
AGENTS.md
data.json
esbuild.config.mjs
eslint.config.mts
LICENSE
package.json
package-lock.json
tsconfig.json
tsconfig.json.bak
version-bump.mjs
versions.json