# Standard behavior for all files: automatic detection and LF in the repository
* text eol=lf

# Explicitly declare specific text files as text
*.json text eol=lf
*.ts text
*.js text
*.md text

# Leave binary files (images, etc.) untouched
*.png binary
*.jpg binary
