# --- Build Outputs ---
node_modules
# Ignore compiled main.js, upload to GitHub release instead.
main.js
# Exclude sourcemaps
*.map
/coverage

# --- IDEs and OS ---
.vscode
.idea
*.iml
.DS_Store

# Git
/.github

