.rubik-cube-pll {
	display: flex;
	border: 2px solid #666;
}
.rubik-cube-pll-rect {
	width: 100%;
	height: 100%;
}
.rubik-cube-pll-line-grid {
	stroke-width: 3px;
	stroke: #000;
}
.rubik-cube-pll-line-arrow {
	stroke-width: 2px;
}
.rubik-cube-red-bg {
	background-color: #ff0000;
}