.rotatable {
  /* Ensure it rotates around its own center */
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}
.rubik-cube-div-main-container {
  display: flex;
}
.rubik-cube-div-left-column {
  display: flex;
  flex-direction: column;
}
.rubik-cube-div-right-column {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
.rubik-cube-div-buttons {
  display: flex;
  justify-content: center;
}
.rubik-cube-main-container {
  display: flex;
}
.rubik-cube-pll {
    display: flex;
    border: 2px solid #666;
}
.rubik-cube-pll-rect {
    width: 100%;
    height: 100%;
}
.rubik-cube-pll-line-grid {
    stroke-width: 3px;
    stroke: #000;
}
.rubik-cube-arrow {
    stroke-width: 2px;
}
.rubik-cube-warning-text-red {
    background-color: #f00;
    color: #fff;
}
.rubik-cube-warning-text-orange {
    background-color: #ff6400;
    color: #fff;
}
.rubik-cube-button {
/*  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  transition: background-color 0.2s;*/
  width: 24px;
  height: 24px;
  stroke: white;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  /*viewBox: 0 0 24 24;*/
}
.div /* debug-div-red-border */ {
  outline: 1px solid red !important;
}
.button-container {
  display: flex;
  gap: 10px; /* Space between buttons */
  justify-content: center; /* Centers buttons horizontally */
  padding: 20px;
}
.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  transition: background-color 0.2s;
}
.button:hover {
  background-color: #e0e0e0;
}
