.rubik-cube-pll {
    display: flex;
    border: 2px solid #666;
}
.rubik-cube-pll-rect {
    width: 100%;
    height: 100%;
}
.rubik-cube-pll-line-grid {
    stroke-width: 3px;
    stroke: #000;
}
.rubik-cube-pll-line-arrow {
    stroke-width: 2px;
}
.rubik-cube-warning-text-red {
    background-color: #f00;
    color: #fff;
}
.rubik-cube-warning-text-orange {
    background-color: #ff6400;
    color: #fff;
}
.button-container {
  display: flex;
  gap: 10px; /* Space between buttons */
  justify-content: center; /* Centers buttons horizontally */
  padding: 20px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  transition: background-color 0.2s;
}
button:hover {
  background-color: #e0e0e0;
}
